* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0; padding: 0; 
    width: 100vw; height: min-content; 
    font-family:"Inter", sans-serif;
    font-size: 1.5rem; 
}

.page {
    background-color:#1E90FF; color: #FFF5EE;
    width: 100%; height: 50%; 
    margin: 0; padding: 2vw 2vw; 
    display: grid; 
    grid-column-gap: .5vw; 
    grid-template-columns: 1fr 3fr 3fr 3fr 2fr;
    grid-row-gap: .5vh;
    grid-template-rows: 200px 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

/* top of page -------------------------------------------------*/ 
.site_navbar { 
    z-index: 6; background-color: inherit;
    width: 100%; height: 100%; 
    grid-row: 1; grid-column: 1 / span 5; 
    display: grid; 
    position: sticky; top: 0;  
    grid-column-gap: 2vw;
    grid-template-columns: 1fr 3fr 3fr 3fr 2fr;
    align-content: center; justify-content: center;
}

#site_logo { grid-row: 1; grid-column: 1; width: 100%; align-content: center; justify-content: center;}

#site_logo:hover {
    transform: scale(0.75);
}

#site_name { 
    grid-row: 1; grid-column: 2 / span 2; 
    font-family: "Bungee", sans-serif;
    color: rgb(255, 143, 98);
    -webkit-text-stroke: #FFF5EE .10px;
    font-size: 4rem; }

#site_links {
    margin-left: 0; padding-left: 0;
    justify-content: center;
    grid-row: 1; grid-column: 5;
    display: flex; 
    gap: 2.5vh;
    font-size: 2rem; 
    list-style-type: none;
}

/* middle portion --------------------------------------------- */ 
.wada_animation { position: relative; grid-row: 2 / span 2; grid-column: 1 / span 2;}

.first_animation, .second_animation, .both_animations {
    position: absolute; height: auto; width: 100%;
}
#wada_head {z-index: 4;}
#wada_body {z-index: 2;}
#wada_arm_in {z-index: 3;}
#wada_arm_out {z-index: 1;}
#wada_feet {z-index: 0;}

.social_list {
    grid-row: 3; grid-column: 3; 
}

.social_list a {
    text-decoration: underline;
}

#change_animation { 
    grid-row: 4; grid-column: 3 / span 2; 
    height: 50%;
    justify-content: center; align-content: center;
    text-align: center;
    background-color: rgb(255, 143, 98); color: #FFF5EE; 
    font-family: "Bungee", sans-serif;
    font-weight: bolder; 
}

@keyframes shake_arms{
    0% {transform: scaleX(1) rotate(0deg);}
    33% {transform: scaleX(-1) rotate(0deg);}
    66% {transform: scaleX(1) rotate(0deg);}
    100% {transform: scaleX(-1) rotate(0deg);}
}

#wada_body.shake_arms {
    animation: shake_arms 1.5s steps(1, end) infinite;
}

#wada_arm_in.shake_arms { animation: shake_arms 1.5s steps(1, end) infinite; }

#wada_arm_out.shake_arms { animation: shake_arms 1.5s steps(1, end) infinite; }

#wada_feet.shake_arms {
    animation: lean 1.5s steps(1, end) alternate infinite;
}

@keyframes lean{
    0% {transform: rotate(5deg); }
    33% {transform: rotate(-5deg); }
    66% {transform: rotate(5deg); }
    100% {transform: rotate(-5deg); }
}

#wada_body.lean {
    animation: lean 1.5s linear alternate infinite;
}

#wada_head.lean {
    animation: lean 1.5s linear alternate infinite;
}

#wada_feet.lean {
    animation: lean 1.5s linear alternate infinite;
}

#wada_arm_in.lean{ animation: lean 3s linear alternate infinite; }

#wada_arm_out.lean { animation: lean 3s linear alternate infinite;; }

.personal_desc { grid-row: 2; grid-column: 3 / span 2; }

/* sidebar ----------------------------------------------------------*/ 
.works {
    grid-row: 2 / span 6; grid-column: 5;
    align-content: top; 
    text-align: center;
}

.work_link {
    background-color: #4169E1; color: inherit; 
    display: block; 
    padding: 5px;
    font-size: 3em; 
    font-family: "Bungee", sans-serif;
    font-weight: bold; 
    margin-bottom: 10px; margin-top: 10px;
}

/* bottom --------------------------------------------------------- */ 
.footer {
    grid-row: 5 / span 3; grid-column: 1 / span 4; 
    color:#4169E1; background-color: #FFF5EE;
    padding: 2vw;
    display: grid; 
    grid-template-columns: 2fr 2fr;
    grid-column-gap: .5vw;
    grid-template-rows: 1fr 0.25fr;
    grid-row-gap: .5vw; 
}

.wada_desc { 
    padding: 2vw; 
    grid-row: 1; grid-column: 1; 
    color: #FFF5EE; background-color: #4169E1;
    border-radius: 10px;
}

.spotify {
    width: 100%; height: 100%; 
}
#spotify_playlist { grid-row: 1; grid-column: 2;}
#lss_song {grid-row: 2; grid-column: 2; }

.page_end {
    grid-row: 2; grid-column: 1;
}

/* -------------------------------------------
tag edits */ 
a {
    text-decoration: none;
    color: inherit; background-color: inherit;
    padding: 0; margin: 0;    
}

a:hover {
  cursor: pointer;
  transform: scale(1.05);
  color:rgb(255, 143, 98);
}

