* {
    box-sizing: border-box;
}

body {
    margin: 0; border: 0; 
    font-family:"Lato", sans-serif;
    font-size: 1.5rem;
    color:#1E90FF; background-color: #FFFAFA;
}

#page {
    width: 100vw; height: auto; 
}
.section {
    padding: 2.5% 2.5%;
    margin: 25px 0px; 
    display: flex; 
}

#works {
    margin-top: 125px;
}
#header {
    padding: 0 0; 
    position: fixed;
    top: 0; margin-top: 0%;
    background-color: #1E90FF; color: #FFFAFA;
    width: 100vw; height: auto;

}

#footer {
    text-align: center;
    width: 100vw; height: auto; 
}


