* {
    box-sizing: border-box;
}

body {
    display: block; 
    width: 100vw; height: auto; 
    margin: 0; border: 0; padding: 0; 
    font-family:"Lato", sans-serif;
    font-size: 1.5rem;
    color:#1E90FF; background-color: #FFF5EE;
}

#page {
    margin: 0 0; 
    width: 100vw; height: 100vh; 
    display: contents; 
}

/* top portion of page */ 
#header {
    display: flex; 
    padding: 0 0; 
    position: fixed;
    top: 0; margin-top: 0%;
    background-color: #4169E1; color: #FFF5EE;
    width: 100%; height: 125px; 
    z-index: 1;
}

#navbar {
    position: static; 
    list-style-type: none;
    width: 12%; 
}

.page_link {
    width: 80px; height: 50px;
    margin-right: 5%;
    text-align: center;
    height: fit-content; 
    display: inline-block;
    background-color: #FFA726; color: #FFF5EE;
    border-radius: 75%;
}

#spotify {
    position: static; 
    transform: translateY(25px);
}

/* middle portion of page */ 
#menu {
    transform: translateY(100px);
    width: 100%; height: 70vh; 
    background-color: #1E90FF; color: #FFF5EE;
    display: grid; 
    grid-column-gap: 1%; 
    grid-template-columns: 2fr 4fr 5fr;
    grid-row-gap: 0; 
    grid-template-rows: 70vh;  
    grid-template-areas: 
        "img desc works";

}

.section {
    margin: 50px 50px 50px 50px;
    background-color: #4169E1;
    border-radius: 5%;
    height: 45vh; 
}

/* -- animation */ 
#wada_animation { 
    height: 100%; width: inherit; 
    grid-area: img;
    position: static;  
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: 
    "animation";
}

.wada {
    position: static; 
    grid-area: animation;
    height: 40%;  
    transform: translateY(50px); 
}

#wada_arm_out {
    animation: shake_arms 2.5s steps(1, end) infinite;
}

#wada_arm_in {
    animation: shake_arms 2.5s steps(1, end) infinite;
}

#wada_body {
    animation: shake_arms 2.5s steps(1, end) infinite;
}

@keyframes shake_arms{
    0% {transform: translateY(50px) scaleX(1) rotate(0deg);}
    33% {transform: translateY(50px) scaleX(-1) rotate(0deg);}
    66% {transform: translateY(50px) scaleX(1) rotate(0deg);}
    100% {transform: translateY(50px) scaleX(-1) rotate(0deg);}
}

#wada_desc { grid-area: desc; position: static; }
#works { grid-area: works; position: static; }

/* bottom of page */ 
#footer {
    text-align: center; width: 100vw; height: auto; 
    color: #4169E1; 
    transform: translateY(125px);
}

a {
    text-decoration: none; color: inherit; 

}

h4, h5, h6 {
    border-top: 2.5px solid #FFA726; 
    color: #FFA726; 
    width: 80%;
    height: 0; 
}

ul {
    list-style-type: none;
}

.highlight {
    color: #FFA726; 
}